---
const menuItems = [
  {"classItemLi": "menu-li", "classItemA": "menu-a", "url": "/escola", "title": "L'escola"},
  {"classItemLi": "menu-li", "classItemA": "menu-a", "url": "/formacio", "title": "Formació"},
  {"classItemLi": "menu-li", "classItemA": "menu-a", "url": "/historia-de-la-punta", "title": "Història de la punta"},
  {"classItemLi": "menu-li", "classItemA": "menu-a", "url": "/punta-de-barcelona", "title": "Punta de Barcelona"},
  {"classItemLi": "menu-li", "classItemA": "menu-a", "url": "/estils-i-mostres", "title": "Estils i mostres"},
  {"classItemLi": "menu-li", "classItemA": "menu-a", "url": "/projectes", "title": "Projectes"},
  {"classItemLi": "menu-li", "classItemA": "menu-a", "url": "/de-puntes-i-puntaires", "title": "De puntes i puntaires"},
  {"classItemLi": "menu-li", "classItemA": "menu-a", "url": "/visita", "title": "Visita'ns"},
  {"classItemLi": "menu-li", "classItemA": "menu-a menu-a-button", "url": "/contacta", "title": "Contacta"}
]
---

<header>
  <div class="wrapper">
    <a class="header-logo" href="/" title="Inici">
      <picture>
        <source srcset="/assets/images/logotips/panot-bcn.svg" media="(max-width: 1365px)" />
        <img class="header-img" src="/assets/images/logotips/logo-escola.svg" alt="Escola de Puntaires de Barcelona" />
      </picture>
    </a>
    <button class="header-toggle">
      <span class="header-icon icon-menu-open"></span>
    </button>
    <nav class="header-nav">
      <ul class="menu-ul">
        {
          menuItems.map((menuItem) =>
            <li class={menuItem.classItemLi}><a class={menuItem.classItemA} href={menuItem.url} title={menuItem.title}>{menuItem.title}</a></li>
          )
        }
      </ul>
    </nav>
  </div>
</header>

<style>
  header {
    background-color: var(--bg-lightest);
    border-color: 10px solid var(--sh-header);
    box-shadow: var(--box-shadow);
    height: var(--header-height);
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;

    & .header-logo {
      width: calc(var(--header-height) * 1.7);

      @media (width < 1366px) {
        width: calc(var(--header-height) / 1.5);
        height: calc(var(--header-height) / 1.5);
      }
    }

    & .header-img {
      display: block;
      width: 100%;
    }

    & .header-toggle {
      background-color: transparent;
      color: var(--fg-primary);
      border: none;
      outline: none;
      cursor : pointer;
      font-size: calc(var(--header-height) / 1.5);
      line-height: 0;

      @media (width >= 1366px) {
        display: none;
      }
    }
  }

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    margin: 0 auto;
    width: 90%;
    height: calc(var(--header-height) / 1.5);
  }

  nav {

    @media (width < 1366px) {
      display: none;

      &.is-active {
        width: 100%;
        position: absolute;
        top: var(--header-height);
        left: 0;
        height: calc(100vh - calc(var(--header-height) + var(--footer-height)));
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--fg-primaryAlt);
      }
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    align-items: center;

    @media (width < 1366px) {
      flex-direction: column;
      justify-content: center;
      padding: 0 1rem;
      gap: .5rem;
      width: 100%;
    }
  }

  li {
    background-color: transparent;
    padding: .2rem;
    text-align: center;
  }

  .menu-a {
    background-color: transparent;
    border-bottom: 1px solid transparent;
    color: var(--fg-primary);
    padding: 0 .5rem;
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Jaldi', sans-serif;

    &:hover {
      color: var(--fg-primary);
      border-bottom: 1px solid var(--fg-primary);
    }

    &.is-active {
      color: var(--fg-primaryAlt);
      border-bottom: 1px solid var(--fg-primaryAlt);
    }

    @media (width < 1366px) {
      color: white;

      &:hover {
        color: var(--fg-primary);
      }
    }
  }

  .menu-a-button {
    padding: .5rem 1rem;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--fg-primary);
    color: var(--fg-white);
    transition: var(--transition-button);

    &:hover {
      background-color: var(--fg-primaryAlt);
      border: none;
      color: white;
    }

    &.is-active {
      background-color: var(--fg-primaryAlt);
      border: none;
      color: white;
    }
  }
</style>

<script>
  const button = document.querySelector('.header-toggle')
  const nav = document.querySelector('.header-nav')
  const changeIcon = document.querySelector('.header-icon')

  const menuLi = document.querySelectorAll('.menu-li')
  const menuItem = document.querySelectorAll('.menu-a')

  button.addEventListener('click', () => {
    nav.classList.toggle('is-active')
    changeIcon.classList.toggle('icon-menu-close')
  })

  menuLi.forEach((cadLi, i) => {
    menuLi[i].addEventListener('click', () => {
      menuLi.forEach((cadaLi, i) => {
        menuLi[i].classList.remove('is-active')
        menuItem[i].classList.remove('is-active')
      })

      menuLi[i].classList.add('is-active')
      menuItem[i].classList.add('is-active')
    })
  })
</script>
